.users{

  .info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    
  }
  
  form {
    padding: 10px;
    width: 70%;
    
    .fields {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      gap: 50px;
      
      .ingredient {
        flex-basis: 400px;
      }

      .btn {
        width: 150px;
        text-transform: capitalize;
      }
    }
  }
}